<div class="row mb-5">
    <div class="col-8 shadow-lg p-0 bg-white">
        <div class="card">
            <div class="card-header">
                <h3>List your Property</h3>
            </div>
            <div class="card-body">
                <form [formGroup]="addPropertyForm" (ngSubmit)="onSubmit()">
                    <div class="tab-panel">
                        <tabset class="member-tabset" #formTabs>
                            <tab heading="Basic Info" formGroupName="basicInfo">
                                <div class="form-group col-12">
                                    <p>I want to</p>
                                    <div class="btn-group" btnRadioGroup formControlName="sellRent">
                                        <label btnRadio="1" role="button"
                                            class="btn btn-outline-primary mx-1">Sell</label>
                                        <label btnRadio="2" role="button"
                                            class="btn btn-outline-primary mx-1">Rent</label>
                                    </div>
                                    <div class="error-block" *ngIf="sellRent.invalid && (nextClicked || sellRent.touched)">
                                        Please select Sell or Rent
                                    </div>
                                </div>

                                <div class="form-group col-12">
                                    <p>BHK</p>
                                    <div class="btn-group" btnRadioGroup formControlName="BHK">
                                        <label (click)="propertyView.BHK= bhk" *ngFor="let bhk of [1,2,3,4]" btnRadio={{bhk}}
                                            class="btn btn-outline-primary mx-1" role="button">{{bhk}}</label>
                                    </div>
                                </div>

                                <div class="form-group col-12">
                                    <p>Property Type</p>
                                    <div class="btn-group" btnRadioGroup formControlName="pType">
                                        <label (click)="propertyView.propertyType=ptype.name" *ngFor="let ptype of propertyTypes" class="btn btn-outline-primary mx-1"
                                            btnRadio={{ptype.id}}>{{ptype.name}}</label>
                                    </div>
                                </div>

                                <div class="form-group col-12">
                                    <p>Furnish type</p>
                                    <div class="btn-group" btnRadioGroup formControlName="fType">
                                        <label (click)="propertyView.furnishingType=fType.name" *ngFor="let fType of furnishTypes" btnRadio={{fType.id}} 
                                            class="btn btn-outline-primary mx-1" role="button">{{fType.name}}</label>
                                    </div>
                                </div>

                                <div class="form-group col-12">
                                    <label>in Building/Society/Project</label>
                                    <input #propName (keyup)="propertyView.name=propName.value" type="text" formControlName="name" class="form-control">
                                </div>

                                <div class="form-group col-12">
                                    <label for="price">City</label>
                                    <select #City (change)="propertyView.city=City.options[City.options.selectedIndex].text" formControlName="city" type="text" class="form-select">
                                        <option [value]="null">--Select City--</option>
                                        <option *ngFor="let city of cityList" value={{city.id}}>{{city.name}}</option>
                                    </select>
                                </div>
                                <br>
                                <div class="d-grid gap-2">
                                    <button class="btn btn-primary btn-sm" type="button"
                                        (click)="selectTab(1, basicInfo.valid)">Next</button>
                                </div>
                            </tab>
                            <tab heading="Pricing and Area" formGroupName="priceInfo">
                                <div class="form-group col-12">
                                    <label *ngIf="sellRent.value===1">Price (in USD)</label>
                                    <label *ngIf="sellRent.value===2">Rent (in USD)</label>
                                    <input type="text" class="form-control" formControlName="price">
                                </div>
                                <div class="error-block" *ngIf="price.invalid &&(price.touched || nextClicked)">
                                  Please Select
                                  <span *ngIf="sellRent.value===1; else ShowRent">price</span>
                                  <ng-template #ShowRent>rent</ng-template>
                                </div>
                                <div class="form-group col-12">
                                    <label>Security (in USD)</label>
                                    <input formControlName="security" type="text" class="form-control">
                                </div>
                                <div class="form-group col-12">
                                    <label>Maintenance (in USD)</label>
                                    <input formControlName="maintenance" type="text" class="form-control">
                                </div>
                                <div class="form-group col-12">
                                    <label>Built Area (in Sqr Feet)</label>
                                    <input formControlName="builtArea" type="number" class="form-control">
                                </div>
                                <div class="form-group col-12">
                                    <label>Carpet Area (in sqr Feet)</label>
                                    <input formControlName="carpetArea" type="number" class="form-control">
                                </div><br>
                                <div class="d-grid gap-2">
                                    <button type="button" class="btn btn-primary btn-sm"
                                        (click)="selectTab(0, true)">Back</button>
                                    <button type="button" class="btn btn-primary btn-sm"
                                        (click)="selectTab(2, priceInfo.valid)">Next</button>
                                </div>
                            </tab>
                            <tab heading="Address" formGroupName="addressInfo" >
                                <div class="form-group col-12">
                                    <label>Floor</label>
                                    <input formControlName="floorNo" type="number" class="form-control">
                                </div>
                                <div class="form-group col-12">
                                    <label>Total Floor</label>
                                    <input formControlName="totalFloor" type="number" class="form-control">
                                </div>
                                <div class="form-group col-12">
                                    <label>Address</label>
                                    <input formControlName="address" type="text" class="form-control">
                                </div>
                                <div class="form-group col-12">
                                    <label>Landmark</label>
                                    <input formControlName="landMark" type="text" class="form-control">
                                </div><br>
                                <div class="d-grid gap-2">
                                    <button type="button" class="btn btn-primary btn-sm"
                                        (click)="selectTab(1, true)">Back</button>
                                    <button type="button" class="btn btn-primary btn-sm"
                                        (click)="selectTab(3, addressInfo.valid)">Next</button>
                                </div>
                            </tab>
                            <tab heading="Other Details" formGroupName="otherInfo">
                                <div class="form-group col-12">
                                    <p>Ready to move </p>
                                    <div class="btn-group" btnRadioGroup formControlName="RTM">
                                        <label class="btn btn-outline-primary mx-1" btnRadio=true tabindex="0"
                                            role="button">Yes
                                        </label>
                                        <label class="btn btn-outline-primary mx-1" btnRadio=false tabindex="0"
                                            role="button">No
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group col-3">
                                    <label>Possession/Available From</label>
                                    <input formControlName="possessionOn" type="text" placeholder="Datepicker" class="form-control" bsDatepicker
                                        [bsConfig]="{containerClass:'theme-blue', dateInputFormat: 'DD-MM-YYYY'}">
                                </div>
                                <div class="form-group col-12">
                                    <label>Age of property</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="form-group col-12">
                                    <p>Gated Community</p>
                                    <div class="btn-group" btnRadioGroup>
                                        <label class="btn btn-outline-primary mx-1" btnRadio=true tabindex="0"
                                            role="button" name="Gated">Yes</label>
                                        <label class="btn btn-outline-primary mx-1" btnRadio=false tabindex="0"
                                            role="button" name="Gated">No</label>
                                    </div>
                                </div>

                                <div class="form-group col-12">
                                    <p>Main Entrance</p>
                                    <div class="btn-group" btnRadioGroup>
                                        <label class="btn btn-outline-primary mx-1" btnRadio=East tabindex="0"
                                            role="button" name="Entrance">East</label>
                                        <label class="btn btn-outline-primary mx-1" btnRadio=West tabindex="0"
                                            role="button" name="Entrance">West</label>
                                        <label class="btn btn-outline-primary mx-1" btnRadio=South tabindex="0"
                                            role="button" name="Entrance">South</label>
                                        <label class="btn btn-outline-primary mx-1" btnRadio=North tabindex="0"
                                            role="button" name="Entrance">North</label>
                                    </div>
                                </div>

                                <div class="form-group col-12">
                                    <label>Description</label>
                                    <textarea type="text" class="form-control" rows="6"></textarea>
                                </div><br>

                                <div class="form-group col-12">
                                    <div class="d-grid gap-2">
                                        <button type="button" class="btn btn-primary btn-sm"
                                            (click)="selectTab(2, true)">Back</button>
                                        <button type="button" class="btn btn-primary btn-sm"
                                            (click)="selectTab(4, otherInfo.valid)">Next</button>
                                    </div>
                                </div>

                            </tab>
                            <tab heading="Photos">
                                <div class="form-group col-12">
                                    <div class="photo-control">
                                        <button class="mt-5" type="button">Upload</button> <br>
                                        This is under construction
                                    </div>
                                </div><br>
                                <div class="d-grid gap-2">
                                    <button type="button" class="btn btn-primary btn-sm"
                                        (click)="selectTab(3, true)">Back</button>
                                    <button type="reset" class="btn btn-primary btn-sm">Cancel</button>
                                    <button type="submit" class="btn btn-primary btn-sm">Save</button>
                                </div>
                            </tab>
                        </tabset>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card-header">
            <h3>Your Property Preview</h3>
            <div class="shadow-lg p-3 bg-white">
                <app-property-card [property]="propertyView" [hideIcons]="true"></app-property-card>
            </div>
        </div>
    </div>
</div>